# See https://help.github.com/ignore-files/ for more about ignoring files.

# firebase key
firebase-key.json

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .idea
**/.idea/workspace.xml
**/.idea/tasks.xml
